/* main layout */

html {
  height: 100%;
  width: 100%;
}


body {
  background-color: #edeff0;

  margin: 0 0;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: [start] 1fr [middle1] 2fr [middle2] 1fr [end];
  grid-template-rows: [start] auto [search] auto [categories] auto [restaurants] 1fr [footer] auto [end];
}

/* header layout */

body>header {
  display: grid;
  grid-template-columns: [start] 1fr [middle1] 2fr [middle2] 1fr [end];
  grid-template-rows: auto auto auto;
  grid-column: start / end;
}

body>header #goback {
  grid-column: start;
  grid-row: 1;
}

body>header #signup {
  grid-column: end;
  grid-row: 1;
}

body>header #cart {
  grid-column: end;
  grid-row: 2;
  margin: auto;
  position: relative;
  top: 40%;
}

.button {
  width: auto;
}

@media only screen and (max-device-height: 360px) and (max-device-width: 760px) {
  #logo {
    padding-top: 20px;
  }
}

@media(max-width: 500px) {
  .button {
    align-items: left;
    padding-left: 8px;
    padding-right: 10px;
    min-width: 50px;
    max-width: 300px;
  }

  #logo {
    padding-right: 5em;
  }
}


@media(max-width: 3000px) {
  #logo {
    min-width: 200px;
  }
}

#logo {
  grid-column-start: start;
  grid-column-end: end;
  display: flex;
  padding-right: 5em;
  aspect-ratio: 16/9;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
}



/* searchbar */

#searchbar {
  height: 4em;
  grid-column-start: start;
  grid-column-end: end;
}

.searchbar {
  display: block;
  margin-top: 0.7%;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  width: 50%;
}

/*addOn section*/

.addOnbox {
  grid-column-start: middle1;
  grid-column-end: middle2;
  margin: 6em auto 3em auto;
  width: 90%;
  background-color: #FFF;
  padding: 1em;
  border-radius: 10px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
}

.addOnbox > h1 {
  text-align: center;
}

form input {
  color: #354047;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  vertical-align: top;
  overflow: hidden;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1.2em;
  margin-left: 19px;
  width: 83%;
  height: 5%;
}

form input:focus {
  outline: none;
}

form input:last-child {
  margin-top: 10px;
}

form select {
  color: #354047;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  vertical-align: top;
  overflow: hidden;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1.2em;
  margin-left: 19px;
  width: 88%;
  height: 5%;
}

form select:focus {
  outline: none;
}

#buttons>a>button,
#buttons>button {
  font-weight: 600;
  text-align: center;
  font-size: 19px;
  color: #FFF;
  vertical-align: top;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-left: 1em;
  cursor: pointer;
  overflow: hidden;
  border: none;
  line-height: 1.2;
  padding: 1em;
  width: 90%;
  height: 62px;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  background-color: #354047;
}

@media(max-width: 500px) {
  form input {
    width: 60%;
  }
}

@media(max-width: 700px) {
  form input {
    width: 75%;
  }
}

#buttons>a>button:hover,
#buttons>button:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}

/*footer*/
body>footer {
  grid-column-start: start;
  grid-column-end: end;
  grid-row: end;
}