* {
  box-sizing: border-box;
}

body {
  background-size: cover;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

#food {
  grid-template-columns: [start] 1fr [middle] 1fr [end];
}

h2,
.g-price {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}

.g-price {
  margin: 8px 0;
}

.meter {
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.s_time {
  margin-top: 30px;
  text-align: left;
  font-weight: bold;

}


.time {
  font-size: xx-large;
  text-align: center;
  color: grey;
}

.request {
  margin-top: 50px;
  text-align: bottom;
  font-weight: bold;
}

.progress {
  background-color: #e4c465;
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.title {
  text-align: center;
  font-weight: bold;
}

#dish-container {
  width: 90%;
  max-width: 780px;
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  grid-column-start: start;
  grid-column-end: middle;
}

@media (max-width: 950px) {
  #dish-container {
    display: block;
  }
}

.screen-togo,
.screen-cart {
  position: fixed;
  left: 1200px;
  top: 370px;
  width: 375px;
  max-height: 400px;
  overflow: scroll;
  border-radius: 25px;
  background: white;
  padding-top: 20px;
  padding-left: 30px;
  margin: 20px;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  right: 0;
  bottom: 0;
}

ul {
  padding: 0;
  list-style: none;
  margin-left: 0;
}

.menu-item {
  background: #E4F0FD;
  border-radius: 20px 0 0 20px;
  margin: 30px 0;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 10px;
  position: relative;
}

.menu-item:nth-child(2n) {
  background: #FBE4F0;
}

.menu-item:nth-child(3n) {
  background: #F7F7FE;
}

.menu-item:nth-child(4n) {
  background: #E4FDF1;
}

.menu-item img {
  width: 150px;
  position: absolute;
  top: -20px;
  left: -20px;
}

.menu-item .add-button {
  position: absolute;
  border: none;
  background: #6B00F5;
  padding: 6px 20px 4px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  bottom: -10px;
  left: 150px;
  transition: all 0.3s;
}

.menu-item .add-button:hover {
  background: #5815AE;
}

.add-prch {
  margin-top: 10px;
  border: none;
  background: #6B00F5;
  padding: 6px 20px 4px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  bottom: -10px;
  left: 150px;
  transition: all 0.3s;
}

.menu-item-dets {
  margin-left: 150px;
  padding-bottom: 15px;
}

.menu-item-heading {
  font-size: 18px;
  margin: 10px 0 12px;
}

.screen-cart {
  padding-right: 30px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(10px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@media (min-width: 360px) {
  .screen-cart {
    left: -20px;
  }
}

@media (min-width: 376px) {
  .screen-cart {
    left: -10px;
  }
}

@media (min-width: 412px) {
  .screen-cart {
    left: -5px;
  }
}

/*@media (min-width: 576px) {
  .screen-cart {
    left: 470px;
  }
}*/

@media (min-width: 800px) {
  .screen-cart {
    left: 410px;
  }
}

@media (min-width: 840px) {
  .screen-cart {
    left: 450px;
  }
}

@media (min-width: 940px) {
  .screen-cart {
    left: 510px;
  }
}

@media (min-width: 1000px) {
  .screen-cart {
    left: 600px;
  }
}

@media (min-width: 1100px) {
  .screen-cart {
    left: 700px;
  }
}


@media (min-width: 1200px) {
  .screen-cart {
    left: 800px;
  }
}

@media (min-width: 1300px) {
  .screen-cart {
    left: 900px;
  }
}

@media (min-width: 1400px) {
  .screen-cart {
    left: 1000px;
  }
}

@media (min-width: 1500px) {
  .screen-cart {
    left: 1100px;
  }
}

@media (min-width: 1600px) {
  .screen-cart {
    left: 1200px;
  }
}


#cart_m {
  padding-top: 20px
}



#cart_m {
  padding-top: 50px;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #D7D7F9;
  animation: fadeIn 0.3s;
}

.cart-item:last-child {
  border-bottom: 5px solid #D7D7F9;
}

.cart-item img {
  width: 65px;
}

.cart-item .g-price {
  font-size: 24px;
}

.cart-item-dets {
  margin-left: 15px;
  width: 100%;
}

.cart-item-heading {
  margin: 10px 0;
}

.cart-math-item {
  margin: 5px 0;
  font-weight: 700;
}

.cart-math-item span {
  display: inline-block;
  text-align: left;
}

.cart-math-item .cart-math-header {
  width: 50%;
}

.cart-math-item .g-price {
  width: 40%;
}