body > header {
  background-color: #49121C;
  color: white;
  padding: 1em;
}

body > #searchbar{
  background-color: #7F7F7F;
}

h2 {
  margin-left: 1em;
}

.button {
  border: none;
  background-color: #FCD07D;
  color: #7F7F7F;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

/* footer */

body > footer {
  background-color: #2a2f33;
  color: white;

  padding: 1em;

  height: 1em;
}

body > footer p {
  margin: 0;
}

/* fonts */ 

@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700');

body {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Lora", serif;
  line-height: 1.4em;
}