/* main layout */

body {
  background-color: #EDEDED;

  margin: 0 auto;
  width: auto;
  display: grid;
  grid-template-columns: [start] 1fr [middle] 1fr [end];
  grid-template-rows: [start] auto [search] auto [categories] 1fr [footer] auto [end];
}

body>header {
  grid-column: start / end;
}


/* header layout */

body>header {
  display: grid;
  grid-template-columns: [start] 1fr [middle1] 1fr [middle2] 1fr [end];
  grid-template-rows: auto auto auto;
}

body>header #signup {
  grid-column: end;
  grid-row: 1;
}

body>header .button {
  display: inline-block;
}

#logo {
  grid-column-start: start;
  grid-column-end: end;
  display: block;
  margin-left: auto;
  margin-right: 20%;
  width: 50%;
}

/* searchbar */

#searchbar {
  height: 4em;
  grid-column-start: start;
  grid-column-end: end;
}

.searchbar {
  display: block;
  margin-top: 0.7%;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  width: 50%;
}

/*food section*/

#foodsections {
  grid-column-start: start;
  grid-column-end: end;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

#foodsections>article {

  padding: 0 5% 0 5%;
  text-align: center;
}



/*footer*/
body>footer {
  grid-column-start: start;
  grid-column-end: end;
}