/* main layout */

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #EDEDED;

  margin: 0 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: [start] 1fr [middle] 1fr [end];
  grid-template-rows: [start] auto [search] auto [categories] 1fr [footer] auto [end];
}

/* header layout */

body>header {
  display: grid;
  grid-template-columns: [start] 1fr [middle1] 1fr [middle2] 1fr [end];
  grid-template-rows: auto auto auto;
  grid-column: start / end;
}

body>header #signup {
  grid-column: end;
  grid-row: 1;
}

body>header .button {
  display: inline-block;
}

#logo {
  grid-column-start: start;
  grid-column-end: end;
  display: flex;
  aspect-ratio: 16/9;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
}


/* searchbar */

#searchbar {
  height: 4em;
  grid-column-start: start;
  grid-column-end: end;
  margin-bottom: 1em;
}

.searchbar {
  display: block;
  margin-top: 0.7%;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  width: 50%;
}

/*food section*/

#foodsections {
  grid-column-start: start;
  grid-column-end: end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
}

#foodsections>article {
  padding: 0 5% 0 5%;
  text-align: center;
}

/*footer*/
body>footer {
  grid-column-start: start;
  grid-column-end: end;
}