/* main layout */

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #EDEDED;

  margin: 0 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: [start] 1fr [middle] 1fr [end];
  grid-template-rows: [start] auto [search] auto [categories] 1fr [footer] auto [end];
}

/* header layout */

body > header {
  grid-column: start / end;
  display: grid;
  grid-template-columns: [start] 1fr [middle1] 1fr [middle2] 1fr [end];
  grid-template-rows: auto auto auto;
}

#logo {
  grid-column-start: start;
  grid-column-end: end;
  display: block;
  margin-left: auto;
  margin-right: 20%;
  width: 50%;
}

/* login layout */

#loginbox{
  padding-top: 10%;
  padding-bottom: 10%;
  display: block;
  text-align: center;
  margin-left: 50%;
  margin-right: auto;
  width: 100%;
}

button {
  vertical-align: top;
  margin-right: 20px;
	outline: none;
	border: none;
  line-height: 1.2;
  padding: 0 20px;
  width: 25%;
  height: 62px;
  transition: all 0.4s;
  border-radius: 60px;
}

/*footer*/
body > footer {
  grid-column-start: start;
  grid-column-end: end;
}
