/* main layout */

html {
  height: 100%;
  width: 100%;
}


body {
  background-color: #edeff0;

  margin: 0 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: [start] 1fr [middle1] 2fr [middle2] 1fr [end];
  grid-template-rows: [start] auto [search] auto [categories] auto [restaurants] 1fr [footer] auto [end];
}

/* header layout */

body>header {
  display: grid;
  grid-template-columns: [start] 1fr [middle1] 2fr [middle2] 1fr [end];
  grid-template-rows: auto auto auto;
  grid-column: start / end;
}

body>header #goback {
  grid-column: start;
  grid-row: 1;
}

body>header #signup {
  grid-column: end;
  grid-row: 1;
}

body>header #cart {
  grid-column: end;
  grid-row: 2;
  margin: auto;
  position: relative;
  top: 40%;
}

.button {
  width: auto;
}

@media(max-width: 500px) {
  .button {
    align-items: left;
    padding-left: 8px;
    padding-right: 10px;
    min-width: 50px;
    max-width: 300px;
  }

  #logo {
    padding-left: 3em;
  }
}

@media(max-width: 3000px) {
  #logo {
    min-width: 200px;
  }
}

#logo {
  grid-column-start: start;
  grid-column-end: end;
  display: flex;
  padding-right: 5em;
  aspect-ratio: 16/9;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
}



/* searchbar */

#searchbar {
  height: 4em;
  grid-column-start: start;
  grid-column-end: end;
}

.searchbar {
  display: block;
  margin-top: 0.7%;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  width: 50%;
}

/*restaurant section*/

h2 {
  height: 1em;
  grid-column-start: start;
  grid-column-end: end;
  display: block;
  grid-row: categories;
}

#restaurantsections {
  grid-column-start: start;
  grid-column-end: end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-row: restaurants;
  margin-top: 2em;
}

#restaurantsections>article {
  text-align: center;
}

#dishsection {
  grid-column-start: start;
  grid-column-end: end;
  display: flex;
  align-items: center;
  width: 59%;
  flex-direction: row;
  flex-wrap: wrap;
  grid-row: restaurants;
  margin-top: 2em;
}

#restaurantsections>article>a>img {
  aspect-ratio: 16/9;
  max-width: 70%;
}

/*footer*/
body>footer {
  grid-column-start: start;
  grid-column-end: end;
}