/* fonts */

@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700');

/*colors*/

:root {
  --mainHeaderColor: #6F1A04;
  --hoverButtonColor: #441207;
  --searchbarColor: #7F7F7F;
  --buttonColor: #FCD07D;
  --footerColor: #2a2f33;

  /*food section colors*/
  --fastColor: #DD7230;
  --casualColor: #49111C;
  --healthyColor: #12521E;
  --dessertsColor: #7475C6;

}

body {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Lora", serif;
  line-height: 1.4em;
}

body>header {
  background-color: var(--mainHeaderColor);
  padding: 1em;
}

/* login box */

input {
  color: #403866;
  background-color: #dadada;
  border: none;
  line-height: 1.2;
  font-size: 18px;
  width: 25%;
  height: 62px;
  padding: 0 20px 0 38px;
  margin: 20px 0 20px 0;
}

/* button login */

#buttons>a>button,
#buttons>button {
  text-transform: uppercase;
  background-color: var(--mainHeaderColor);
}

#buttons>a>button:hover,
#buttons>button:hover {
  cursor: pointer;
  background-color: var(--hoverButtonColor);
}

#goback>a>button {
  border: none;
  background-color: var(--buttonColor);
  color: var(--searchbarColor);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 60px;
}

/* footer */

body>footer {
  background-color: #2a2f33;
  color: white;

  padding: 1em;

  height: 1em;
}

body>footer p {
  margin: 0;
}