/* main layout */

html {
  background-color: #FAFAFA;
}


/* login layout */

h1 {
  font-weight: 700;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 1.2em;
  margin-top: 0.2em;
}

#loginbox {
  padding: 0.4em;
  grid-column-start: middle1;
  grid-column-end: middle2;
  margin-right: 5em;
  margin-left: 5em;
}

form input {
  color: #354047;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  vertical-align: top;
  overflow: hidden;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1.2em;
  margin-left: 1em;
  width: 83%;
  height: 5%;
}

form input:focus {
  outline: none;
}

.button {
  border: none;
  background-color: var(--buttonColor);
  color: var(--searchbarColor);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 60px;
}

#buttons>a>button,
#buttons>button {
  font-weight: 600;
  text-align: center;
  font-size: 19px;
  color: #FFF;
  vertical-align: top;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-left: 1em;
  cursor: pointer;
  overflow: hidden;
  border: none;
  line-height: 1.2;
  padding: 1em;
  width: 90%;
  height: 62px;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

@media(max-width: 500px) {
  form input {
    width: 60%;
  }
}

@media(max-width: 700px) {
  form input {
    width: 75%;
  }
}

#buttons>a>button:hover,
#buttons>button:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}

/*footer*/
body>footer {
  grid-row-end: end;
}