/* main layout */

html {
  height: 100%;
  width: 100%;
}


body {
  background-color: #edeff0;

  margin: 0 0;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: [start] 1fr [middle1] 2fr [middle2] 1fr [end];
  grid-template-rows: [start] auto [search] auto [categories] auto [restaurants] 1fr [footer] auto [end];
}

/* header layout */

body>header {
  display: grid;
  grid-template-columns: [start] 1fr [middle1] 2fr [middle2] 1fr [end];
  grid-template-rows: auto auto auto;
  grid-column: start / end;
}

body>header #goback {
  grid-column: start;
  grid-row: 1;
}

body>header #signup {
  grid-column: end;
  grid-row: 1;
}

.button {
  width: auto;
}

@media only screen and (max-device-height: 360px) and (max-device-width: 760px) {
  #logo {
    padding-top: 20px;
  }
}

@media(max-width: 500px) {
  .button {
    align-items: left;
    padding-left: 8px;
    padding-right: 10px;
    min-width: 50px;
    max-width: 300px;
  }

  #logo {
    padding-right: 5em;
  }
}


@media(max-width: 3000px) {
  #logo {
    min-width: 200px;
  }
}

#logo {
  grid-column-start: start;
  grid-column-end: end;
  display: flex;
  padding-right: 5em;
  aspect-ratio: 16/9;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
}


/*review section*/

h2 {
  height: 1em;
  grid-column-start: start;
  grid-column-end: end;
  display: block;
}

#review-container {
  grid-column-start: start;
  grid-column-end: end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2em;
}

.block,
#review-container>article {
  text-align: center;
  max-width: 25em;
  margin: 2em;
  width: 100%;
  background-color: #FFF;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
}

#review-container>article .user{
  float: left;
  font-weight: bold;
}

#review-container>article .user:after {
  font-style: normal;
  font-weight: normal;
  content: ' said:';
}

#review-container>article .date{
  float: right;
}

#review-container>article .score:after {
  content: '/5 stars!!';
}

#review-container>article p{
  margin-top: 2.5em;
}

/*footer*/
body>footer {
  grid-column-start: start;
  grid-column-end: end;
  grid-row-end: end;
}